.about{
   margin-top: 70px;
  color:white;
  font-family: poppins;
}
.about-info{
  font-size: 4rem;
}
.about-info h1{
  font-family: poppins;
  color: grey;
  text-align: center;
}
.main-about {
  width: 72%;
  margin: 10px auto;
  display: flex;
}
.main-about h3{
  color: rgb(7, 7, 7);
  text-transform: capitalize;
  font-size: 2rem;
}
.main-about h3 span{
  color: rgb(244, 56, 10);
}
.main-about p{
  box-shadow: 0 0 10px rgba(246, 244, 244, 0.2);
  font-family: poppins;
  color: rgb(59, 59, 58);
  width: 70%;
  text-align: justify;
  font-weight: bolder;
  padding: 5px;
  margin-top: 25px;
  line-height: 30px;
}
.main-about p span{
  color: rgb(33, 226, 33);
}
.main-about p a{
  color: rgb(122, 143, 206);
}
.about-image{
  width: 330px;
  height: 300px;
}
.about-buttons{
  padding: 5px;
}
.about-button{
  padding: 8px 20px;
  margin: 10px;
  color: white;
  background: #fb5401;
  border: none;
  border-radius: 2px;
}
.btn2{
  color: #fb5401;
  background: white;
  border: 1px solid #fb5401;
}
.about-button:active{
  color: #fb5401;
  background: white;
  border: 1px solid #fb5401;
}
.btn2:active{
  color: white;
  background: #fb5401;
  border: none;
}

@media (max-width:768px) {
.about {
  color: white;
  font-family: poppins;
}

.about-info {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main-about {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main-about h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5px;
}

.main-about p {
  margin: 0px auto;
  width: 90%;
  font-size: 0.9rem;
  text-align: justify;
}

.about-img {
  border: 1px solid black;
  width: 100%;
  margin-top: 25px;
}

.about-buttons {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

}